@import "settings"; 
@import "mixin";

  .film_size {
    position: absolute;
    top: 15%;
    right: 10%;
    width: 100%;
    max-width: 640px;
    height: auto;
  }
  .lyrics {
    stroke-dasharray: 650;
    stroke-dashoffset: 650;
    animation: draw 1.5s linear forwards;
    background-color: blueviolet;
  }
  
@keyframes draw {
    0% {
        fill-opacity: 1;
    }
    50% {
      fill:  rgba(116, 29, 131, 0);
    }
    60% {
      fill:  rgba(116, 29, 131, 0.1);
    }
    70% {
      fill:  rgba(116, 29, 131, 0.2);
    }
    80% {
      fill:  rgba(116, 29, 131, 0.3);
    }
    100% {
        fill: rgba(20, 18, 120, 0.93);
        stroke-dashoffset: 0;
        fill-opacity: 1;
    }
  }


  #lyrics {
    max-width: 61%;
    animation: colorFill 1.5s ease forwards 2.0s;
    &>path:nth-child(1), &>path:nth-child(2) {
        stroke-dasharray: 449px;
        stroke-dashoffset: 449px;
        @include animation (animateText 2s ease forwards);
    }
    &>path:nth-child(3), &>path:nth-child(4),
    &>path:nth-child(5), &>path:nth-child(6) {
        stroke-dasharray: 665;
        stroke-dashoffset: 665px;
        @include animation (animateText 2s ease forwards 0.7s);
    }
    &>path:nth-child(7), &>path:nth-child(8),
    &>path:nth-child(9), &>path:nth-child(10) {
        stroke-dasharray: 449px;
        stroke-dashoffset: 449px;
        @include animation (animateText 2s ease forwards 0.9s);
    }
    &>path:nth-child(11), &>path:nth-child(12),
    &>path:nth-child(13), &>path:nth-child(14),
    &>path:nth-child(15) {
        stroke-dasharray: 549px;
        stroke-dashoffset: 549px;
        @include animation (animateText 2s ease forwards 1.3s);
    }
  }

  @include keyframes(animateText) {
    from {
        stroke: gray;
    }
    to {
        stroke-dashoffset: 0;
        stroke: #741D83;
    }
  }
  
  @include keyframes(colorFill) {
    0% {
        fill: transparent;
        text-decoration: none;
    }
    50% {
      fill:  rgba(116, 29, 131, 0);
    }
    60% {
      fill:  rgba(116, 29, 131, 0.1);
    }
    70% {
      fill:  rgba(116, 29, 131, 0.2);
    }
    80% {
      fill:  rgba(116, 29, 131, 0.3);
    }
    100% {
        fill: rgba(20, 18, 120, 0.93);
    }
  }