@import "settings"; 
@import "mixin";

:root {
  --car-color: #ff2800;
  --window-color: #add8e6;
  --success-color: #2eff04;
  --error-color: #fd1c03;
}

.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  background: radial-gradient(#FCA852 5px, #FBFA90, #FDFDF3 );
  background-size: cover;
  perspective: 50px;
  transform-style: preserve-3d;
  z-index: 1;
}

.sun {
  position: absolute;
  border-radius: 0.5%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 15.8em;
  height: 15.8em;
  background: linear-gradient(#f12711, yellow);
  box-shadow: 0 0 30px #f12711;
}

.grid {
  position: absolute;
  width: 600%;
  height: 68em;
  margin-left: -250%;
  background: #5C0100;
  transform: scale(1.4) rotateX(90deg);
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 7%;
    height: 100%;
    background-image: 
    linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(#9F2719, 0.5) 0%,
      rgba(#9F2719, 0.5) 3px,
      rgba(0, 0, 0, 0) 0px
    );
    background-size: 100px 100px, 100px 100px;
    background-color: darken(rgba(#F36A33, 0.5), 50%);
    transform: translateX(-50%);
    animation: 3.4s dash linear infinite;
  }
}

.palm_tree {
  position: absolute;
  top: 30%;
  width: 10%;
  height: auto;
  animation: 8s fly-forward linear infinite;
  transform: translate(-50%, -50%);
  @for $i from 4 through 8 {
    &:nth-of-type(#{$i}) {
      animation-delay: -#{$i}s;
    }
  }
}
.palm_tree_left {
  left: 35%;
}
.palm_tree_right {
  right: 25%;
  transform: translate(-50%, -50%) scaleX(-1);
}

.circle {
  animation: 8s fly-forward-circle linear infinite;
  animation-delay: 5.5s;
  border-radius: 50%;
  color: var(--error-color);
  border: 1px solid currentColor;
  box-shadow: 0 0 20px currentColor;
  height: 0.85em;
  width: 0.85em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(0) translate(-50%, -50%) rotate(45deg);
}

@keyframes dash {
  to {
    background-position: 0% 100%;
  }
}

@keyframes fly-forward {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  22% {
    color: white;
  }
  23% {
    color: var(--success-color);
  }
  100% {
    transform: scale(4) translate3D(-50%, -50%, 200px);
  }
}

@keyframes fly-forward-circle {
  0% {
    transform: scale(0) translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: scale(2) translate3D(-50%, -50%, 200px) rotate(560deg);
  }
}
